* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #F0ECEE;
}

/* Element resets and globals */

h1, h2, ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #88898B;
}

a:hover {
  color: #68696B;
}

h1 {
  font-weight: 900;
  line-height: 1.5em;
}

p {
  color: #88898B;
  line-height: 1.4em;
}


/* Styling structure */

header {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.logo {
  margin: 0;
}

.navigation ul {
  list-style-type: none;
  line-height: 1.5em;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600px;
}

.container {
  padding: 30px 0;
}

.call-to-action {
  margin-bottom: 10px;
}

/* Components */

.red {
  color: #FF4850;
}

.button {
  margin-top: 15px;
  background-color: #FF4850;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: block;
  text-align: center;
}

.button:hover {
  background-color: #CCC;
}

/* Desktop display version */

@media (min-width: 768px) {
  
  body {
    padding: 20px 30px;
  }
  
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation ul {
    display: flex;
    align-items: center;
  }
  
  .navigation ul li {
    padding: 0 10px;
  }
  
  .navigation ul .button {
    margin: 0;
  }
    
  .container {
    background-image: url("/assets/bulldog.jpg");
    background-size: cover;
    background-position: center;
    height: 650px;  
  } 
  
  .content {
    margin-top: 120px;
    width: 500px;
  }
  
  .find-out-how {
    width: 200px;
  }
 
}